/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/****************VARIABLES**************/

:root {
  /**color**/
  --color-green: #a6cc45;
  --color-white: #fff;
  --color-lightgrey: #f6f6f6;
  --color-grey: #707070;
  --color-darkgrey: #414141;
  --color-red: #ff5a5a;
  --color-black: #000000;
  --color-darkgrey2: #2b2929;
  --color-gradientblue: linear-gradient(red, yellow)
  /**typefaces**/
  --font-text: "Proxima Nova", Arial, Helvetica, sans-serif;
  --fsize-40: 40px;
  --fsize-30: 30px;
  --fsize-25: 25px;
  --fsize-20: 20px;
  --fsize-18: 18px;
  --fsize-16: 16px;
  --fsize-14: 14px;
  --fsize-12: 12px;
  --fsize-10: 10px;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf") format("truetype");
}
body {
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
button {
  background-color: var(--color-green);
  border: none;
  border-radius: 7px;
  color: var(--color-white);
  cursor: pointer;
}

/**************Header****************/
header{
  height: 100vh;
}
/****nav****/
nav {
  background-color: var(--color-darkgrey2);
  color: var(--color-white);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto 1fr auto auto auto auto 10%;
  height: 65px;
}
nav a {
  color: var(--color-white);
}
.volt-logo {
  width: 80px;
  align-self: center;
  padding: 0 15px;
}
h1 {
  align-self: center;
  text-transform: uppercase;
  font-size: var(--fsize-20);
}
nav ul {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40% 0 3%;
}
nav ul li {
  font-size: var(--fsize-14);
  font-weight: 600;
}

.dropbtn {
  background-color: transparent;
  padding: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 9px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content h3 {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: var(--fsize-14);
  background-color: var(--color-lightgrey);
  font-weight: 600;
}
.dropdown-content a:hover {
  background-color: var(--color-green);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  opacity: 0.6;
}
nav .cart {
  align-self: center;
}
nav .login {
  font-size: var(--fsize-14);
  align-self: center;
  background-color: transparent;
  font-weight: 600;
  padding: 0 30px 0 30px;
}
.signup {
  font-size: var(--fsize-14);
  height: 40px;
  align-self: center;
  font-weight: 600;
  padding: 0 15px 0 15px;
}

/***video***/
.video-section {
  display: grid;
  grid-template: 1fr/1fr;
  background-image: linear-gradient( to right, rgb(69, 179, 219), #3CAACE); 
}
video {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 80vw;
  height: 80vh;
  justify-self: center;
}

.video-section .arrow{
  width: 80px;
  height: 80px;
  -webkit-clip-path: polygon(50% 84%, 91% 34%, 100% 41%, 50% 100%, 0 40%, 8% 33%);
  clip-path: polygon(50% 84%, 91% 34%, 100% 41%, 50% 100%, 0 40%, 8% 33%);
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 3;
  background-color:var(--color-black);
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 20px;
}
.video-section .arrow:hover{
  animation: arrowmove 0.5s ease-in infinite;
}
@keyframes arrowmove{
  50%{
    transform:translate3d(0, 20px, 0) ;
  }
}
.video-section .slogan{
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
  align-self: flex-end;
  padding:  0 0 7% 14%;
}
.video-section .slogan img{
  height: 70px; 
}
.video-section .slogan h2{
  padding-top: 10px;
  color: var(--color-white);
  font-size: var(--fsize-30);
  
}
.video-section .book{
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 2;
  justify-self: right;
  padding:  5% 15% 0 0;
  display: flex;
  flex-direction: column;
}
.video-section .bookNow{
  padding: 15px 20px;
  font-size: var(--fsize-20);
  font-weight: 500;
  border-radius: 12px;
  box-shadow: 3px 4px 0px 0px rgba(255, 255, 255, 1);
  align-self: center;
}
.video-section p{
  color: var(--color-white);
  padding-top: 15px;
  font-size: var(--fsize-18);
  text-align: center;
}
.video-section p span{
  font-weight: 600;
  border-bottom: solid white 1px;
  cursor: pointer;
  /* text-decoration: underline; */
}
/**fixed bar**/

.fixed-bar{
  background-color: var(--color-lightgrey);
  display: grid;
  grid-template: 1fr/ auto auto 1fr auto auto 3%;
  height: 80px;
}
.fixed-bar .price{
  align-self: center;
  justify-self: center;
  font-size: var(--fsize-16);
}
.fixed-bar .total{
  padding-right: 20px;
  align-self: center;
  justify-self: right;
  text-align: right;
  font-size: var(--fsize-16);

}
.festivalprice{
padding-top: 5px;
color: var(--color-grey)
}
.totalprice{
  color: var(--color-grey)
}
.offer{
  padding-top: 5px;
  color: var(--color-red)
}
.fixed-bar button{
  margin-right: 5%;
}

/*********Why Section*********/

#gopowerfull-section{
  height: 100vh;
}
